<ul class="burgerList">
    {{#each allBurgers }}
    {{#unless Devoured}}
    <li>
            {{id}}  {{name}}
                <button class="devoured" data-id="{{this.id}}" data-devoured="{{this.devoured}}"> DEVOUR
                </button>
    </li> 
    {{/unless}}
    {{/each}} 


</ul>
<ul>
    {{#each allBurgers }}
    {{#if Devoured}}
    <li>
        {{name}}
            <button class="hidden" data-id="{{this.id}}" data-devoured="{{this.devoured}}"> DEVOUR
            </button>
    </li> 
    {{/if}}
    {{/each}}       
</ul>

<div class="container" id="burgerInput">
    <form data-id="{{this.id}}" id="create-form">
        <div class="input-group mb-3">
            <input type="text" id="newBurger" name="burger" class="form-control addBurgerBtn" placeholder="add Burger here..." aria-label="burger-name" aria-describedby="button-addon2">{{this.name}}
            <button class="newBurgBtn btn-outline-secondary" type="button" id="button-addon2">Add Burger</button>
        </div>
    </form>
</div>


