<ul>
    {{#each allBurgers }}
    {{#unless devoured}}
    <li>
            {{id}}  {{name}}
                <button type="button" class="devoured" data-id="{{id}}" data-devoured="{{devoured}}"> DEVOUR
                </button>
    </li> 
    {{/unless}}
    {{/each}} 


</ul>
<ul>
    {{#each allBurgers }}
    {{#if devoured}}
    <li>
        {{name}} 
    </li> 
    {{/if}}
    {{/each}}       
</ul>

<div class="container" id="burgerInput">
    <form id="create-form">
        <div class="input-group mb-3">
            <label for="addBurger"></label>
            <input type="text" id="newBurger" name="burger" placeholder="add Burger here..." aria-describedby="button-addon2">
            <button class="newBurgBtn btn-outline-secondary" type="submit" value="0">Add Burger</button>
        </div>
    </form>
</div>


